*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --sugarcane: #CBDAEC;
  --darkercane:#B8CCE4;
  --lightblue: #D9E5F3;
  --navy:#134077;
  --electricblue:#0057FF;
  --darkestblue:#2D224C;
  --almostblack:#231F20;
}

body{
  height:100vh;
  width:100vw;
  background-color: var(--lightblue);
  overflow: hidden;
  font-family: 'DM Sans', sans-serif;
}

/* .bg{
  background-color: var(--lightblue);
  position:relative;
  height:100vh;
  width:100vw;
  overflow: hidden;
} */

:focus{outline: none;}

/* BACKGROUND */

#vector-4{
  position: absolute;
  width: 108vw;
  height: 46vh;
  left: -0.3vw;
  top: 54vh;
  z-index:-1;
  background: transparent;
  transform: rotate(2.29deg);
}
#vector-1{
  position: absolute;
  width: 107vw;
  height: 22vh;
  left: -0.2vw;
  bottom:-30px;
  z-index:-1;
  

  background: transparent;
}
#vector-5{
  position: absolute;
  width: 200vw;
  height: 27vh;
  top: 63vh;
  background: transparent;
  z-index:-1;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

#rocket{
  position:absolute;
  left:80vw;
  bottom:5.5vh;
}
.circle{
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

#circle-1{
  height:15vw;
  width:15vw;
  top:41vh;
  left:83.5vw;
  z-index:-1;
}
#circle-2{
  height:24vw;
  width:24vw;
  top:18vh;
  left:-12vw;
  z-index:-1;
}

/* HEADER */

header{
  width:100vw;
  position:fixed;
  top:0;
  left:0;
  height:100px;
  background-color: white;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 4px 0px 5px var(--navy);
}
nav{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 20px 30px;
  ;
}
.logout{
  justify-self: flex-end;
}

/* MAIN */

main .container{
  width:70%;
  margin:0 auto;
  padding:140px 30px 30px;
  text-align: center;

}

h2{
  color:var(--navy);
  font-size: 32px;
  ;
}

.form-container{
  width:46vw;
  margin:40px auto;
  background-color: white;
  border: 1px solid var(--navy);
  border-radius: 19px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding:40px;
}

.form-container form{
  width:100%;
}

.form-container form input{
  width:100%;
  border:none;
  border-bottom:1px solid var(--darkestblue);
  margin:10px 0;
  font-size: 20px;
}

.form-container form input[type="submit"], .join-btn{
  display: block;
  background: var(--electricblue);
  border:none;
  border-radius: 11px;
  width:100%;
  height: 55px;
  color:white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin:14px 0;

}

.input-field{
  position:relative;
}

/* form input[type="text"]:focus,form input[type="email"]:focus,form input[type="password"]:focus{
  padding: 5px 14px 7px;
  transition: 0.4s;
}

form input[type="text"] ~ .focus-border, form input[type="email"] ~ .focus-border,form input[type="password"] ~ .focus-border{
  position: absolute;
  height: 36px;
  bottom: 11px;
  left: 0;
  width: 0;
  transition: 0.4s;
}

form input[type="text"]:focus ~ .focus-border, form input[type="email"]:focus ~ .focus-border,form input[type="password"]:focus ~ .focus-border{
  width: 100%;
  transition: 0.4s;
  border: 2px solid var(--darkercane);
} */

.form-container form label{
  font-size: 13px;
  display:block;
  text-align: left;
  line-height: 99.5%;
  margin-top:20px;
  color:var(--darkestblue);
}

.form-container p, .form-container p a{
  color:var(--darkestblue);
  font-size: 13px;
  line-height: 99.5%;
  margin:2px auto 20px;
}

.events-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:70%;
  margin-top:30px;
}

.events-container .card{
  background-color: white;
  border: 1px solid var(--navy);
  border-radius: 19px;
  color:#ccc;
  padding:18px;
  margin:10px 30px;

}

.events-container .card h4{
 color:var(--almostblack);

}

p.no-events{
  color:#555;
  text-align: center;
  margin:0 auto;
}

.logout{
  padding:4px 12px;
  color:white;
  background-color: var(--electricblue);
  border: 1px solid var(--electricblue);
  transition: all .3s ease-in-out;
  border-radius: 19px;
  text-decoration: none;
}
.logout:hover{
  color:var(--electricblue);
  background-color: white;
}

div.forgot-pw{
  display:flex;
  justify-content: start;
}

div.forgot-pw a{
  color:var(--electricblue);
  text-decoration: none;
  transition: all .3s ease-in-out;
  font-size:12px;
}

div.forgot-pw a:hover{
  color:var(--navy);
  text-decoration: underline;
}


/* EYE - ICON */

i.fa-solid.fa-eye-slash{
  color:#666;
  position:absolute;
  right: 5px;
  top: 15px;
}

i.fa-solid.fa-eye{
  color:var(--electricblue);
  position:absolute;
  right: 5px;
  top: 15px;
}



